html {
    font-family: sans-serif;
  }

  body, p {

   display: flex;
   flex-direction: column;
   align-items:center;
   text-align: center;

    background-color: powderblue;
  }

  .lastResult {
    color: white;
    padding: 3px;
  }